body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(200, 245, 245);
}

h1{
    text-align: center;
}

form{
    
    width: 40rem;
    border-radius: 6px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(231, 230, 230);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

label{
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

input{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-bottom: 1rem;
}

input:focus{
    background-color: rgb(217, 255, 255);
    
}

textarea{
    width: 100%;
    resize: none;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

textarea:focus{
    background-color: rgb(215, 252, 252);
}

div{
    display: flex;
}

div label,div input{
    width: auto;
}

select{
    width: 100%;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
}

select:focus{
    background-color: rgb(210, 255, 255);
}

#checkbox{
    margin: 10px 0px;
}

#button{
    display: flex;
    justify-content: end;
}

button{
    font-family: 'Roboto', sans-serif;
    padding: 10px 17px;
    margin: 6px;

}

#clear{
    border: 2px solid darkcyan;
    border-radius: 5px ;
    background-color: white;
    cursor: pointer;
}

#clear:hover{
    background-color:darkcyan;
    color: white;

}

#submit{
    background-color: darkcyan;
    color: white;
    border: 2px solid darkcyan;
    border-radius: 5px ;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(2, 112, 112);
    border-color: rgb(2, 112, 112);
}
